* {
  background-color: #191923;
}
/*
s {

}*/

h1, h2, p {
  font-family: 'Courier New', monospace;
  color: #00dd00;
  left: 50;
}

h2 {
  position: absolute;
  top: 20%;
}

p {
  position: absolute;
  top: 30%;
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

